* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}




.container {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  text-align: center;

}

.card {
  width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 12%);
  border-radius: 0.7rem;
  gap: 1.5rem;
}

.card > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  flex: 1 0 auto;
  margin-block: 1.5rem 1rem;
}

.info {
  flex: 1 0 ;
}

.info > :first-child {
  font-size: 1.5rem;
  margin-block-end: 0.3rem;
}

.info > :last-child {
  font-size: 1.1rem;
  color: hsl(75, 94%, 57%);
}

q {
  font-size: 1rem;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  display: block;
  background-color: hsl(0, 0%, 20%);
  padding-block: 1rem;
  border-radius: 0.5rem;
}

a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  list-style: none;
  margin-inline: 2rem;
  gap: 1rem;
  margin-bottom: 1.5rem;
}